
.style-40 {
    color: #F88F01;
    font-family : monospace;
    font-size: 40px;
    
}

.style-30 {
    color: #F88F01;
    font-family : monospace;
    font-size: 30px;
}

.style-18 {
    color:#222831;
    font-family : monospace;
    font-size: 18px;    
}

.style-a {
    color: #ff4646;
    font-size: 22px;
}

.style-24 {
    color:#03506F;
    font-size: 24px;
}